@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-main: #0346b4;
  --secondary-main: #660101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#main-app {
  background-color: red;
  min-height: 100vh;
  padding: 10px 30px;
}
