@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-light: #dae0ff;
  --primary-main: #0346b4;
  --secondary-main: #2155CD;
  --secondary-light: #E8F9FD;
  --subtitle-font: "Hind Madurai", sans-serif;
  --title-font: "Merriweather Sans", sans-serif;
  --default-font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1800px;
  margin: 0 auto;
  text-underline-offset: 5px;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
  margin: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-main);
  border-radius: 100px;
}
#main-app {
  /* background-color: red; */
  min-height: 100vh;
  padding: 10px 30px;
}
#chat-wrapper {
  height: clamp(80vh, calc(100vh - 40px), 98vh);
}
.chat-container {
  min-height: 100%;
  padding: 20px 10px;
}

@media only screen and (max-width: 1024px) {
  #chat-wrapper {
    height: unset;
  }
  .chat-container {
    /* min-height: unset; */
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 768px) {
  #main-app {
    min-height: 100vh;
    padding: 10px 5px;
  }
}
